.checkout-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  max-width: 1100px;
  margin: auto;
}

.checkout-left {
  flex: 2;
}

.checkout-right {
  flex: 1;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 6px;
  height: fit-content;
  background: #fafafa;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkout-form input,
.checkout-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-form textarea {
  resize: none;
  height: 70px;
}

.row {
  display: flex;
  gap: 10px;
}

.place-order-btn {
  margin-top: 15px;
  padding: 10px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.place-order-btn:hover {
  background: #333;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  font-size: 14px;
}

.product-name {
  font-weight: 600;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.summary-total.final {
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
}